<div class="container d-flex align-items-center justify-content-center h-100">
  <mat-card class="w-50 d-flex flex-column align-items-center">
    <mat-card-content>
      <h1 class="fw-bold">Letter Check</h1>
    </mat-card-content>
    <mat-card-content>
      <h2 class="fw-normal">
        <span [class]="compare(letter, input[i])" *ngFor="let letter of text.split(''); let i = index">{{letter}}</span>
      </h2>
    </mat-card-content>
    <mat-form-field class="w-75" appearance="fill">
      <mat-label>Text here...</mat-label>
      <input (input)="getInput($event.target.value)" type="text" matInput>
    </mat-form-field>
    <mat-card-content *ngIf="input === text">
      <h1 class="fw-bold">Bravo!</h1>
    </mat-card-content>
  </mat-card>
</div>
